* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-header{
    display: flex;
    background: rgb(188, 219, 209);
    height: 75px;
    justify-content: center;
    align-items: center;
    top: 0;
    width: 100%;
}
.navbar-header{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
a {
    padding: 30px;
}
.brand-name{
    flex: 30%;
}

.brand-name h1{
    color: rgb(122, 111, 111);
    padding: 0 0 0 20px;
    border-radius: 15px;
    text-align: center;
    
}
.narbar-menu{
    flex: 70%;
}
.narbar-menu ul{
    display: flex;
    list-style: none;
    text-align: center;
    margin-top: 12px;
}
.narbar-menu li{
     flex: 30%;
}
.narbar-menu a{
    font-size: 3rem;
    text-decoration: none;
}

body {
    font-size: 16px;
    background-color: rgb(143, 101, 172);
    font-family: Arial, Helvetica, sans-serif;
}    

.container {
    height: 100vh;
}
#home,
#skills,
#about,
footer {
    display: flex;
    text-align: center;
    padding: 55px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

h1,
h2,
h3 {
    color: skyblue;
}